@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


/* 

The bakcground colors I chose
- #1a1a1a;
- #292929;
- #404040;

The primary colors I have uses in the site are
- #3b4252;
- #666d7e;
- #c4ccdf;

The accent colors I haave used are
- #88c0d0;
- #276271;

The text colors I have used are
- #FFFFFF;
- #e0e0e0;

*/

body {
    font-family: 'Lato', sans-serif;
    background-color: #1a1a1a;
    margin: 0;
    padding: 0;
}

/* Navbar */

.navbar-brand {
    font-family: 'Playfair Display', serif;
    font-weight: lighter;
}

.navbar {
    background-color: #666d7e;
}


/* Footer */

footer {
    background-color: #c4ccdf;
}

.footer-social-links a {
    text-decoration: none;
}

.footer-link-item {
    color: #6e6e6e;
}

.footer-link-item:hover {
    color: #979797;
}

.footer-logo h4 {
    font-family: 'Playfair Display', serif;
}

/* Utils */
.uppercase {
    text-transform: uppercase;
}

/*  Hero Section */

.hero-section {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.hero-section--short {
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-size: cover;
    background-repeat: space;
    background-clip: border-box; */
}

.hero-section--short h3 {
    font-family: 'Playfair Display', serif;
}

.hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.hero-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Adjust the opacity as needed */
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    color: #ECEFF4;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.hero-content h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    margin-bottom: 20px;
}

.hero-content h3 {
    font-family: 'Playfair Display', serif;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

/* Newsletter Section */

.news-card-footer {
    display: flex;
    flex-direction: column;
}

.news-card-title {
    font-family: 'Playfair Display', serif;
}

.card-text {
    font-size: 0.9em;
}

.article-credits-text {
    color: #e0e0e0;
}

/* About Us Page */

#values-section h2,
#values-section h3 {
    font-family: 'Playfair Display', serif;
}

#values-section h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 200;
}

/* Leardership Section */

.leadership-section {
    padding: 3rem 0;
    background-color: #2E3440;
    color: #ECEFF4;
}

.leadership-section h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 300;
}

.leadership-section .card {
    background-color: #4C566A;
    border: none;
}

.leadership-section .card .card-title {
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    margin-top: 1rem;
}

.leadership-section .card .card-text {
    font-size: 1em;
    margin-top: 0.5rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    /* background-color: #88C0D0; */
    color: #88C0D0;
}

.carousel-indicators li {
    /* background-color: #88C0D0; */
    color: #88C0D0;
}

/* Subsidiaries Page */

.subsidiaries-section .card-title {
    font-family: 'Playfair Display', serif;
    font-weight: 300;
}

.subsidiary-image {
    aspect-ratio: 1/1;
    object-fit: cover;
}

/* World Map */

.map-section h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 300;
}

.coutries-list li {
    font-size: 0.8em;
}

.world-map {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 1em;
    position: relative
}

.world-map img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.map-pin {
    background: #88c0d0;
    opacity: 0.7;
    position: absolute;
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
}

.map-pin::before {
    content: "";
    background: #88c0d0;
    opacity: 0.7;
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: pulse 1.3s ease-in-out infinite;
}

.pin-usa {
    top: 30%;
    left: 20%;
}

.pin-usa-2 {
    top: 32%;
    left: 27%;
}

.pin-mexico {
    top: 40%;
    left: 21.5%;
}

.pin-brazil {
    top: 65%;
    left: 36%;
}

.pin-uk {
    top: 20%;
    left: 48%;
}

.pin-south-africa {
    top: 76%;
    left: 55%;
}

.pin-russia {
    top: 16%;
    left: 65%;
}

.pin-germany {
    top: 22%;
    left: 51%;
}

.pin-china {
    top: 34%;
    left: 75%;
}

.pin-australia {
    top: 74%;
    left: 82%;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

/* Corporate Responsibillity Page */

.tenets-section h1{
    font-family: 'Playfair Display';
    font-weight: 300;
    color: #fff;
}

.tenet-img-container {
    position: relative;
    display: inline-block;
}

.tenet-img-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #292929;
    opacity: 0.8;
    transition: opacity 500ms ease-in-out;
}

.tenet-img-container:hover .overlay {
    opacity: 0.9;
}

.overlay .overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.overlay-content h2 {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 300;
}

.philantropy-section h2{
    font-family: 'Playfair Display', serif;
}

.transparent-card{
    opacity: 0.5;
    background-color: blue;
}

.env-initiatives-section .card-title {
    font-family: 'Playfair Display', serif;
    font-weight: 300;
}

.env-initiatives-section h2{
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    font-style: italic;
}

.community-projects-section h2{
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 300;
}

/* Contact Us Page */

.contact-hero-icon{
    height: 64px;
    width: 64px;
    font-size: 64px;
}

/* Headings */

.section-heading {
    font-family: 'Playfair Display', serif;
    color: #e0e0e0;
}

/* Buttons */

.cta-button {
    background-color: #88C0D0;
    border: none;
    border-radius: 8px;
    color: #2E3440;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button--small {
    font-size: 0.8em;
    padding: 5px 10px;
}

.cta-button--large {
    font-size: 1.4em;
    padding: 10px 20px;
}

.cta-button:hover {
    background-color: #6C8FA6;
}

.border-btn {
    border: 2px solid #88C0D0;
    color: #88C0D0;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}

.border-btn:hover {
    background-color: #276271;
}

/* Utils */

.hr-light {
    border: 1px solid #88C0D0;
}

.icon-large {
    font-size: 64px;
}

/* Timeline Style */

/* The actual timeline (the vertical ruler) */
.main-timeline-2 {
    position: relative;
}

/* The actual timeline (the vertical ruler) */
.main-timeline-2::after {
    content: "";
    position: absolute;
    width: 3px;
    background-color: #88c0d0;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.timeline-2 {
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.timeline-2::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -11px;
    background-color: #88c0d0;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left-2 {
    padding: 0px 40px 20px 0px;
    left: 0;
}

/* Place the container to the right */
.right-2 {
    padding: 0px 0px 20px 40px;
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left-2::before {
    content: " ";
    position: absolute;
    top: 18px;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right-2::before {
    content: " ";
    position: absolute;
    top: 18px;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right-2::after {
    left: -14px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

    /* Place the timelime to the left */
    .main-timeline-2::after {
        left: 31px;
    }

    /* Full-width containers */
    .timeline-2 {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .timeline-2::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left-2::after,
    .right-2::after {
        left: 18px;
    }

    .left-2::before {
        right: auto;
    }

    /* Make all right containers behave like the left ones */
    .right-2 {
        left: 0%;
    }
}

/* Timeline template from mdbootstrap.com */