@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


/* 

The bakcground colors I chose
- #1a1a1a;
- #292929;
- #404040;

The primary colors I have uses in the site are
- #3b4252;
- #666d7e;
- #c4ccdf;

The accent colors I ahve uses are
- #88c0d0;
- #276271;

The text colors I have used are
- #FFFFFF;
- #e0e0e0;

*/

body {
    font-family: 'Lato', sans-serif;
    background-color: #1a1a1a;
    margin: 0;
    padding: 0;
}

/* Navbar */

.navbar-brand {
    font-family: 'Playfair Display', serif;
    font-weight: lighter;
}

.navbar {
    background-color: #666d7e;
}


/* Footer */

footer {
    background-color: #c4ccdf;
}

.footer-social-links a {
    text-decoration: none;
}

.footer-link-item {
    color: #6e6e6e;
}

.footer-link-item:hover {
    color: #979797;
}

.footer-logo h2 {
    font-family: 'Playfair Display', serif;
}

/* Utils */
.uppercase {
    text-transform: uppercase;
}

/* Home Page Hero */

.hero-section {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Adjust the opacity as needed */
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    color: #ECEFF4;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.hero-content h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

/* Newsletter Section */

.news-card-footer {
    display: flex;
    flex-direction: column;
}

.news-card-title{
    font-family: 'Playfair Display', serif;
}

.card-text{
font-size: 0.9em;
}

.article-credits-text{
    color: #e0e0e0;
}

/* About Us Page */



/* Headings */

.section-heading{
    font-family: 'Playfair Display', serif;
    color: #e0e0e0;
}

/* Buttons */

.cta-button {
    background-color: #88C0D0;
    border: none;
    border-radius: 8px;
    color: #2E3440;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button--small {
    font-size: 0.8em;
    padding: 5px 10px;
}

.cta-button--large {
    font-size: 1.4em;
    padding: 10px 20px;
}

.cta-button:hover {
    background-color: #6C8FA6;
}

.border-btn {
    border: 2px solid #88C0D0;
    color: #88C0D0;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  }

  .border-btn:hover {
    background-color: #276271;
  }

  /* Utils */

  .hr-light{
    border: 1px solid #88C0D0;
  }